
.bottom{
    display: flex;
    justify-content: center;
}
button {
    margin-top: 2vh;
    margin-bottom: 5vh;
    margin-left: 5vh;
    padding: 3px 10px;
    font-family: var(--poppins);
    border: 1px solid #03254C;
    background-color: #03254C;
    color: #fff;
    border-radius:  4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
  
  button:hover {
    box-shadow: rgb(0 0 0 / 15%) 0px 8px 24px;
  }
  