.coin-container .content {
    max-width: 740px;
    margin: 1rem auto;
    color: #03254C;
    padding: .7rem 1rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(151, 189, 245);
    border-radius: 4px;
}


.matable{
    background-color: white;
}





.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.info .coin-heading {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.info .coin-price {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info p {
    padding-right: 1rem;
}

table {
    margin: .5rem 0;
}

td, th {
    padding: 8px;
    text-align: center;
    background-color: rgb(255, 255, 255);
   
}
.t{
    background-color: #03103d;
}


.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    color: white;
    width: 100%;
}

.stats .row {
    display: flex;
    justify-content: space-between;
    color: #03254C;
    margin: .6rem 0;
    padding-bottom: .5rem;
}

.stats .row p:first-child {
    /* color: #d3d3d3; */
}

.about h3 {
    margin: 1rem 0;
   
}

@media screen and (max-width: 700px) {
    .coin-container .content {
        max-width: 100%;
        margin: .5rem;
        padding: 0 .5rem;
    }

    .stats {
        grid-template-columns: 1fr;
    }

    td,th {
        padding: 3px;
    }

    .rank {
        margin: .5rem;
    }

    .rank-btn {
        margin: .5rem 0;
    }
}


